$font-family: Poppins;
@import url("http://fonts.googleapis.com/css?family=#{$font-family}");
$font-stack: $font-family,
sans-serif;
$primary-color: #6a0047;
$primary-bg: #e8c0da;
$action-color: #fc33b9;
$action-bg: #fff;